<div class="modal-header">
    <h3 class="modal-title">Detalle del Recibo No. {{pago.id | minLength: 8}}</h3>
</div>
<div class="text-right">      
    <a ng-click="printDiv('printThisElement');" class="btn btn-info">
        <i class="material-icons icon-md">print</i>
    </a>
</div>
<div class="modal-body">  
    <table class="table">
        <thead>
        </thead>            
        <tbody>
            <tr>
                <td style="width: 55%; border: none;" class="text-left">
                    <b>Paciente:</b> {{pago.paciente.persona.persona_nombres}} {{pago.paciente.persona.persona_apellidos}}
                </td>
                <td style="width: 45%; border: none;" class="text-right">
                    <b>Fecha:</b> {{pago.pago_fecha | date:'dd-MM-yyyy HH:mm:ss a'}}
                </td>
            </tr>
            <tr>
                <td style="border: none;" class="text-left">
                    <b>Cajero:</b> {{pago.usuario.persona.persona_nombres}} {{pago.usuario.persona.persona_apellidos}}                 
                </td>
                <td style="border: none;" class="text-right" ng-show="pago.paciente.paciente_referencia">
                    <b>Referidor:</b> {{pago.paciente.paciente_referencia.persona_referencia}}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Concepto :</b> {{pago.pago_concepto}}
                </td>
                <td>
                    <b>Monto :</b> {{pago.pago_monto}}
                </td>                
            </tr>
            <tr>
                <td>
                    <b>Balance Pendiente :</b> {{pago.paciente.paciente_balance}}
                </td>
                <td>
                    <b>Terapias Pendientes de Pago :</b> 5/12
                </td>
            </tr>
        </tbody>
    </table>
    <b><hr></b>   
</div>
<div class="modal-footer text-center">                  
    <button class="btn btn-success" ng-click="cancel()">OK</button>
</div>
<div style="width: 7.2 cm; height: 29.7 cm; text-align: center; font-family:Consolas; font-size:6.5pt; line-height: 75%;" id="printThisElement" ng-hide="1==1">
  <div style="text-align: center;">
    <img src="img/pipiota.png" width="120"/>
    <p>CENTRO DE MEDICINA F&Iacute;SICA Y REHABILITACI&Oacute;N</p>
    <p>AVE. JUAN P. DUARTE, PLAZA PALERMO</p>
    <p>M&Oacute;DULO 110, STGO. R.D.</p>
    <p>809-825-8595</p>
    <p>RNC-131341421</p>
    <p>RECIBO DE PAGO</p>
  </div>
  <div class="text-right"><p>No. : {{pago.id | minLength: 8}}&nbsp;</p></div>
  <div class="text-left">
    <p>----------------------------------------------------</p>
    <p>Fecha&nbsp;&nbsp;&nbsp; : {{pago.pago_fecha | date:'dd-MM-yyyy HH:mm:ss a'}} </p>
    <p>Cajero&nbsp;&nbsp; : {{pago.usuario.persona.persona_nombres}} {{pago.usuario.persona.persona_apellidos}}</p>
    <p>Paciente&nbsp; : {{pago.paciente.persona.persona_nombres}} {{pago.paciente.persona.persona_apellidos}}</p>
    <p>Concepto : {{pago.pago_concepto}}</p>
    <p>Monto&nbsp;&nbsp;&nbsp; : {{pago.pago_monto}}</p>        
    <p>----------------------------------------------------</p>
  </div>
  <div class="text-right">        
    <p>Balance Pendiente : {{pago.paciente.paciente_balance}}&nbsp;</p>
    <p>Terapias Pendientes de Pago : &nbsp;&nbsp; 5/12&nbsp;</p>
  </div>
  <br>
  <br>
  <div class="text-center">
    <p>_____________________________</p>
      <p>RECIBIDO CONFORME</p>
    <p>{{pago.pago_fecha | date:'dd-MM-yyyy HH:mm:ss a'}}</p>
  </div>
</div>