<div class="modal-header">
    <h3 class="modal-title">Eliminar recordatorio</h3>
</div>
<div class="modal-body">
    <p>Est&aacute; seguro que desea eliminar este recordatorio?</p>

    <small>AL eliminar el recordatorio, esta terapia se dará por finalizada aunque no se hayan completado todas las sesiones de la misma.</small>
</div>
<div class="modal-footer text-center">                  
    <button class="btn btn-default" ng-click="cancel()">No</button>
    <button class="btn btn-danger" ng-click="deleteNotificacion()">Si</button>
</div>