<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Editar Doctor';">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">    
        <ol class="breadcrumb well">
            <li>
                <a ui-sref="app.inicio"><i class="fa fa-home"></i>Inicio</a>
            </li>
            <li>
                <a ui-sref="app.doctores">Doctores</a>
            </li>
            <li class="active">
                <strong>Editar doctor</strong>
            </li>
        </ol>
        <div class="alert ng-isolate-scope alert-danger alert-dismissible" ng-class="['alert-' + (type || 'warning'), closeable ? 'alert-dismissible' : null]" role="alert" type="danger minimal" ng-hide="!alert">
            <button type="button" class="close" ng-click="closeAlert()">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
            </button>
            <div>
                <span class="ng-binding ng-scope">
                    Errores al actualizar el registro:
                    <li class="danger" ng-repeat="mensaje in mensajes">{{mensaje}}.</li>
                </span>
            </div>
        </div>        
        <form id="general_validate" action="javascript:;" name="form" class="form-validation ng-invalid ng-invalid-required ng-valid-email ng-valid-url ng-valid-pattern ng-valid-blacklist ng-valid-minlength ng-valid-maxlength ng-invalid-validator ng-invalid-b ng-invalid-a ng-dirty ng-valid-parse">
            <section class="box">
                <header class="panel_header">
                    <h2 class="title pull-left">Información General</h2>
                    <div class="actions pa  nel_actions pull-right">
                        <i class="box_toggle material-icons">expand_more</i>
                    </div>
                </header>
                <div class="content-body padding-bottom-0">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label class="form-label" for="doctor_nombres">Nombres <span class="text-danger">*</span></label>
                                <span class="desc">Escriba los nombres del doctor</span>
                                <div class="controls">
                                    <input type="text" class="form-control" placeholder="Nombres del Doctor" id="doctor_nombres" name="doctor_nombres" ng-model="doctor.persona.persona_nombres" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label class="form-label" for="doctor_apellidos">Apellidos <span class="text-danger">*</span></label>
                                <span class="desc">Escriba los apellidos del doctor</span>
                                <div class="controls">
                                    <input type="text" class="form-control" placeholder="Apellidos del Doctor" id="doctor_apellidos" name="doctor_apellidos" ng-model="doctor.persona.persona_apellidos" required>
                                </div>
                            </div>                        
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-controller="DatepickerDemoCtrl">
                                <label class="form-label" for="persona_fecha_nacimiento">Fecha de Nacimiento <span class="text-danger">*</span></label>
                                <span class="desc">Seleccione la fecha de nacimiento</span>
                                <div class="input-group" inputgroup>
                                    <input type="date" class="form-control datepicker" uib-datepicker-popup is-open="dtpick.opened2" min-date="'1900-01-01'" max-date="dt" datepicker-options="dateOptions" ng-required="true" id="doctor_fecha_nacimiento" ng-model="doctor.persona.persona_fecha_nacimiento" current-text="Hoy" clear-text="Limpiar" close-text="Cerrar">
                                    <span class="input-group-addon" ng-click="open($event,'opened2')"><i class="fa fa-calendar" style="color: #000;"></i></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">                            
                                <label class="form-label" for="field-1">Lugar de Nacimiento <span class="text-danger">*</span></label>
                                <span class="desc">Seleccione el lugar de nacimiento</span>
                                <div class="controls">
                                    <select ui-jq="chosen" class="form-control" ng-model="doctor.persona.pais_id" required>
                                        <option value="">Seleccione el pais</option>
                                        <option ng-repeat="pais in paises" value="{{pais.id}}">{{pais.pais_nombre}}</option>
                                    </select>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">                                                      
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">                            
                                <label class="form-label" for="field-1">Especialidad <span class="text-danger">*</span></label>
                                <span class="desc">Seleccione la especialidad del doctor</span>
                                <div class="controls">
                                    <select ui-jq="chosen" class="form-control" ng-model="doctor.especialidad_id" required>
                                        <option value="">Seleccione la especialidad</option>
                                        <option ng-repeat="especialidad in especialidades" value="{{especialidad.id}}">{{especialidad.especialidad_nombre}}</option>
                                    </select>
                                </div>
                            </div> 
                            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
                                <label class="form-label" for="field-1">Tipo de sangre <span class="text-danger">*</span></label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <select ui-jq="chosen" class="form-control" ng-model="doctor.persona.grupo_sanguineo_id" required>
                                        <option value="">Seleccione tipo de sangre</option>
                                        <option ng-repeat="grupo_sanguineo in grupos_sanguineos" value="{{grupo_sanguineo.id}}">{{grupo_sanguineo.grupo_sanguineo_nombre}}</option>                                    
                                    </select>
                                </div>                                
                            </div>                            
                        </div>                        
                    </div>  
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label class="form-label" for="field-5">Estado Civil <span class="text-danger">*</span></label>
                                <span class="desc">Elija el estado civil del doctor</span>
                                <div class="radio" ng-repeat="estado_civil in estados_civiles">
                                    <label class="icheck icheck-info">
                                        <input type="radio" name="estado_civil" value="{{estado_civil.id}}" ng-model="doctor.persona.estado_civil_id" required>
                                        <i></i> {{estado_civil.estado_civil_nombre}}
                                    </label>
                                </div>                                          
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label class="form-label" for="field-5">Sexo <span class="text-danger">*</span></label>
                                <span class="desc">Elija el sexo del doctor</span>
                                <div class="radio" ng-repeat="sexo in sexos">
                                    <label class="icheck icheck-primary">
                                        <input type="radio" name="sexo" value="{{sexo.id}}" ng-model="doctor.persona.sexo_id" required>
                                        <i></i> {{sexo.sexo_nombre}}
                                    </label>
                                </div>
                            </div>                                               
                        </div>
                    </div>                            
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label" for="field-5">Imagen de perfil</label>
                                <span class="desc">Elija una imagen de su PC o tome una imagen desde la c&aacute;mara</span>
                                <div class="alert alert-error ng-scope" ng-show="webcamError" style="">
                                    <span>Webcam could not be started. Did you give access to it?</span>
                                </div>
                                <br>
                                <webcam ng-if="!doctor.persona_imagen_perfil" channel="channel" 
                                        on-streaming="onSuccess()" 
                                        on-error="onError(err)" 
                                        on-stream="onStream(stream)" 
                                        class="img-responsive">
                                </webcam>
                                <div ng-if="doctor.persona_imagen_perfil">&nbsp;</div>
                                <img ng-if="doctor.persona_imagen_perfil" src="{{doctor.persona_imagen_perfil}}" width="320" class="img-responsive">
                                <canvas style="display: none" id="snapshot"></canvas>
                                <input class="ng-hide" type="file" id="trigger" onchange="angular.element(this).scope().setImage(this)" accept="image/*">
                                <div class="row btn-iconic margin-left-30">
                                    <button ng-if="!doctor.persona_imagen_perfil" type="button" class="btn btn-primary" ng-click="makeSnapshot()">
                                        <i class="fa fa-camera"></i>
                                    </button>
                                    <button ng-if="!doctor.persona_imagen_perfil" type="button" class="btn btn-info" onclick="openWindow()">
                                        <i class="fa fa-image"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger" ng-click="clearImage()">
                                        <i class="fa fa-close"></i>
                                    </button>                                            
                                </div>                                
                            </div>                        
                        </div>
                    </div>                    
                </div>
            </section>
            <section class="box">
                <header class="panel_header">
                    <h2 class="title pull-left">Datos de Contacto</h2>
                    <div class="actions panel_actions pull-right">
                        <i class="box_toggle material-icons">expand_more</i>
                    </div>
                </header>
                <div class="content-body padding-bottom-0">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label" for="doctor_correo_electronico">Correo Electr&oacute;nico</label>
                                <span class="desc">Ej. joseperez@rehabimedic.com, etc.</span>
                                <div class="controls">
                                    <input type="text" class="form-control ng-pristine ng-valid-email ng-invalid ng-invalid-required ng-touched" id="doctor_correo_electronico" placeholder="ejemplo@example.com" ng-model="doctor.persona.persona_correo_electronico">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label class="form-label" for="doctor_telefono">Tel&eacute;fono <span class="text-danger">*</span></label>
                                <span class="desc">Ej. (999) 999-9999, etc.</span>
                                <div class="controls">
                                    <input id="doctor_telefono" name="doctor_telefono" type="text" class="form-control" ui-mask="999-999-9999" placeholder="___-___-____"  model-view-value="true" ng-model="doctor.persona_telefono" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label class="form-label" for="doctor_celular">Celular</label>
                                <span class="desc">Ej. (999) 999-9999, etc.</span>
                                <div class="controls">
                                    <input id="doctor_celular" name="doctor_celular" type="text" class="form-control" ui-mask="999-999-9999" placeholder="___-___-____" ng-model="doctor.persona_celular">
                                </div>
                            </div>                        
                        </div>
                    </div>                    
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label" for="doctor_direccion">Dirección <span class="text-danger">*</span></label>
                                <span class="desc">Ej. Calle 26, #46, Los Prados, Santiago, etc.</span>
                                <div class="controls">
                                    <textarea class="form-control" cols="3" id="doctor_direccion" name="doctor_direccion" ng-model="doctor.persona.persona_direccion" required></textarea>
                                </div>
                            </div>
                        </div>
                    </div>                      
                </div>
            </section>
            <section class="box">
                <header class="panel_header">
                    <h2 class="title pull-left">Contacto de Emergencia</h2>
                    <div class="actions panel_actions pull-right">
                        <i class="box_toggle material-icons">expand_more</i>
                    </div>
                </header>
                <div class="content-body padding-bottom-0">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label class="form-label" for="persona_contacto_nombre">Nombre de la persona <span class="text-danger">*</span></label>
                                <span class="desc">Persona a contactar en caso de emergencia</span>
                                <div class="controls">
                                    <input type="text" class="form-control" id="persona_contacto_nombre" placeholder="Nombre de la persona" ng-model="doctor.persona.persona_contacto_emergencia.contacto_nombre" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label class="form-label" for="persona_contacto_telefono">Tel&eacute;fono de la persona <span class="text-danger">*</span></label>
                                <span class="desc">Ej. (999) 999-9999, etc.</span>
                                <div class="controls">
                                    <input id="persona_contacto_telefono" name="persona_contacto_telefono" type="text" class="form-control" ui-mask="999-999-9999" placeholder="___-___-____"  model-view-value="true" ng-model="doctor.persona.persona_contacto_emergencia.contacto_telefono" required>                    
                                </div>
                            </div>                      
                        </div>
                    </div>
                    <br>
                </div>
            </section>
            <section class="box">
                <header class="panel_header">
                    <h2 class="title pull-left">Datos de la Cuenta</h2>
                    <div class="actions panel_actions pull-right">
                        <i class="box_toggle material-icons">expand_more</i>
                    </div>
                </header>
                <div class="content-body padding-bottom-0">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <p><b>Para modificar los datos de la cuenta dir&iacute;jase a la secci&oacute;n de <a href="#/app/usuarios"><big>Usuarios</big></a></b></p>
                        </div>
                    </div>
                </div>
            </section>
            <div class="row text-center">
                <div class="form-group">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button type="submit" class="btn btn-lg btn-primary" ng-disabled='form.$invalid' ng-click="update()"> Guardar </button>
                        <button type="button" class="btn btn-lg btn-danger" ng-click="back()"> Cancelar </button>
                    </div>
                </div>
            </div>
        </form>            
    </div>
</div>