<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Doctores';">
    <div class="col-lg-12">
        <ol class="breadcrumb well">
            <li>
                <a ui-sref="app.inicio"><i class="fa fa-home"></i>Inicio</a>
            </li>
            <li>
                <strong class="active">Doctores</strong>
            </li>
        </ol>
        <a ng-hide="perfil_usuario == 4 || perfil_usuario == 3" class="btn btn-lg btn-success" href="#/app/doctores/nuevo"><i class="fa fa-plus"></i>&nbsp;Nuevo Doctor</a>        
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left"><i class="fa fa-database"></i> Listado de Doctores</h2>
            </header>
            <div class="content-body padding-bottom-15">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="DoctoresTable">
                        <table class="table table-striped" ui-jq="dataTable" ui-options="tbOptions" class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width:2%">#</th>                                    
                                    <th style="width:3%"><i class="fa fa-image"></i></th>
                                    <th style="width:30%">Nombre</th>
                                    <th style="width:15%">Tel&eacute;fono</th>
                                    <th style="width:25%">Correo Electr&oacute;nico</th>
                                    <th style="width:15%">Especialidad</th>
                                    <th style="width:10%">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
