<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Reportes';">
    <div class="col-lg-12">
        <ol class="breadcrumb well">
            <li>
                <a ui-sref="app.inicio"><i class="fa fa-home"></i>Inicio</a>
            </li>
            <li class="active">
                <strong>Reportes</strong>
            </li>
        </ol>    
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Listado de Reportes</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                </div>
            </header>
            <div class="content-body padding-bottom-15">
                <table class="table">
                    <thead></thead>
                    <tbody>
                        <tr>
                            <td>
                                <big><b>Pacientes</b></big>
                                <li><a href="#/app/reportes/pacientes">Listado de Pacientes</a></li>
                                <li><a>Pacientes con Terapias Realizadas</a></li>
                                <li><a>Pacientes con Terapias Pendientes</a></li>
                                <li><a>Perfil de Pacientes</a></li>
                            </td>
                            <td>
                                <big><b>Terapias</b></big>
                                <li><a>Listado de Terapias</a></li>
                                <li><a>Terapias Completadas</a></li>
                                <li><a>Terapias Pendientes de finalizar</a></li>
                                <li><a>Detalles de Terapias</a></li>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <big><b>Consultas</b></big>
                                <li><a>Listado de Consultas</a></li>                               
                            </td>                            
                            <td>
                                <big><b>Facturaci&oacute;n</b></big>
                                <li><a href="#/app/reportes/facturas">Listado de Facturas</a></li>
                                <li><a>Facturas con Balances Pendientes</a></li>
                                <li><a>Facturas Saldadas</a></li>
                                <li><a>Facturas Anuladas</a></li>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <big><b>Pagos</b></big>
                                <li><a>Listado de Pagos</a></li>
                                <li><a>Pagos por Paciente</a></li>
                                <li><a>Pagos Anulados</a></li>                         
                            </td>                            
                            <td>
                                <big><b>Citas</b></big>
                                <li><a>Listado de Citas</a></li>
                                <li><a>Listado de Citas Realizadas</a></li>
                                <li><a>Listado de Citas Pendientes</a></li>
                                <li><a>Listado de Citas Canceladas</a></li>
                                <li><a>Listado de Citas Por Paciente</a></li>
                            </td>                       
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
