<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Estado de Cuenta del Paciente';">
    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Estado de Cuenta</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">               
                <div class="row well">
                    <div class="form-group" ng-if="pago.paciente_id">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <img src="{{paciente.persona.persona_imagen_perfil}}" width="150px">
                                </div>                                    
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <h4>
                                        {{paciente.persona.persona_nombres}} {{paciente.persona.persona_apellidos}} <br><small>{{paciente.persona.pais.pais_nombre}}</small>
                                    </h4> 
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-2">&nbsp;</div>
                                <div class="col-lg-4 text-left">
                                    <p><i class="fa fa-birthday-cake"></i> {{fecha_nacimiento}} ({{paciente.persona.persona_edad}} años)</p>
                                    <p><i class="fa fa-phone"></i> {{paciente.persona_celular}}</p>
                                    <p><i class="fa fa-envelope"></i> {{paciente.persona.persona_correo_electronico}}</p>
                                    <p><i class="fa fa-map-marker"></i> {{paciente.persona.persona_direccion}}</p>
                                </div>
                                <div class="col-lg-4 text-left">
                                    <p><i class="fa fa-tint"></i> {{paciente.persona.grupo_sanguineo.grupo_sanguineo_nombre}}</p>
                                    <p><i class="fa fa-building"></i> {{paciente.aseguradora.aseguradora_nombre}}</p>
                                    <p><i class="fa fa-sort-numeric-asc"></i> {{paciente.paciente_nss}}</p>
                                    <p><i class="fa fa-usd"></i> {{paciente.paciente_balance}}</p>
                                </div>
                                <div class="col-lg-2">&nbsp;</div>
                            </div>
                        </div>
                        <br>                        
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label class="form-label" for="paciente_id">Paciente <span class="text-danger">*</span></label>
                            <span class="desc">Seleccione el paciente que desea ver el estado de cuenta</span>
                            <div class="controls">
                                <select ui-jq="chosen" class="form-control" ng-model="pago.paciente_id" required ng-change="updatePaciente(pago.paciente_id)" id="paciente_id" name="paciente_id">
                                    <option value="">Seleccione el paciente</option>
                                    <option ng-repeat="paciente in pacientes" value="{{paciente.id}}">{{paciente.persona.persona_nombres}} {{paciente.persona.persona_apellidos}}</option>
                                </select>
                            </div>
                        </div>                         
                    </div>                        
                </div>
                <br>
                <h3 ng-if="paciente && citas_pagadas.length > 0">Terapias Pagadas</h3>
                <div class="row" ng-if="paciente && citas_pagadas.length > 0">
                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="IngresosTable">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 10%">#</th>
                                    <th style="width: 25%">Descripcion</th>
                                    <th style="width: 30%">Fecha Vencimiento</th>
                                    <th style="width: 25%">Monto</th>
                                    <th style="width: 10%">Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="cita in citas_pagadas">
                                    <td>{{$index+1}}</td>
                                    <td>{{cita.cita_descripcion}}</td>
                                    <td>{{cita.cita_fecha_hora | date: 'dd-MMM-yyyy'}}</td>
                                    <td>{{cita.cita_monto | currency}}</td>
                                    <td ng-if="cita.estado_id == 1">Pendiente</td>
                                    <td ng-if="cita.estado_id != 1">{{cita.estado.estado_nombre}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2" class="text-right"><b>Totales</b></td>
                                    <td>
                                        <b>{{citas_pagadas.length}}</b>
                                    </td>
                                    <td>
                                        <b>{{monto_pagado | currency}}</b>
                                    </td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>                
                <h3 ng-if="paciente  && citas_pendientes.length > 0">Terapias Pendientes de Pago</h3>
                <div class="row" ng-if="paciente && citas_pendientes.length > 0">
                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="IngresosTable">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 10%">#</th>
                                    <th style="width: 25%">Descripcion</th>
                                    <th style="width: 30%">Fecha Vencimiento</th>
                                    <th style="width: 25%">Monto Pendiente</th>
                                    <th style="width: 10%">Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="cita in citas_pendientes">
                                    <td ng-if="cita.cita_fecha_hora < today" class="text-danger">{{$index+1}}</td>
                                    <td ng-if="cita.cita_fecha_hora > today">{{$index+1}}</td>
                                    <td ng-if="cita.cita_fecha_hora < today" class="text-danger">{{cita.cita_descripcion}}</td>
                                    <td ng-if="cita.cita_fecha_hora > today">{{cita.cita_descripcion}}</td>
                                    <td ng-if="cita.cita_fecha_hora < today" class="text-danger">{{cita.cita_fecha_hora | date: 'dd-MMM-yyyy'}}</td>
                                    <td ng-if="cita.cita_fecha_hora > today">{{cita.cita_fecha_hora | date: 'dd-MMM-yyyy'}}</td>
                                    <td ng-if="cita.cita_fecha_hora < today" class="text-danger">{{cita.cita_monto_pendiente | currency}}</td>
                                    <td ng-if="cita.cita_fecha_hora > today">{{cita.cita_monto_pendiente | currency}}</td>
                                    <td ng-if="cita.cita_fecha_hora < today && cita.estado_id == 1" class="text-danger">Pendiente</td>
                                    <td ng-if="cita.cita_fecha_hora > today && cita.estado_id == 1">Pendiente</td>
                                    <td ng-if="cita.cita_fecha_hora < today && cita.estado_id != 1" class="text-danger">{{cita.estado.estado_nombre}}</td>
                                    <td ng-if="cita.cita_fecha_hora > today && cita.estado_id != 1">{{cita.estado.estado_nombre}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2" class="text-right"><b>Totales</b></td>
                                    <td><b>{{citas_pendientes.length}}</b></td>
                                    <td>
                                        <b>{{monto_pendiente | currency}}</b>
                                    </td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            </tfoot>                            
                        </table>
                    </div>
                </div>
                <br>                 
            </div>
        </section>
    </div>
</div>