<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Editar Referidor';">
    <ol class="breadcrumb well">
        <li>
            <a ui-sref="app.inicio"><i class="fa fa-home"></i>Inicio</a>
        </li>
        <li>
            <a ui-sref="app.configuracion-referidores">Referidores</a>
        </li>
        <li class="active">
            <strong>Editar referidor</strong>
        </li>
    </ol>    
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" ng-controller="ReferidoresDetalleCtrl">
        <form id="general_validate" action="javascript:;" name="form" class="form-validation ng-invalid ng-invalid-required ng-valid-email ng-valid-url ng-valid-pattern ng-valid-blacklist ng-valid-minlength ng-valid-maxlength ng-invalid-validator ng-invalid-b ng-invalid-a ng-dirty ng-valid-parse">
            <section class="box">
                <header class="panel_header">
                    <h2 class="title pull-left">Datos</h2>
                    <div class="actions panel_actions pull-right">
                        <i class="box_toggle material-icons">expand_more</i>
                    </div>
                </header>
                <div class="content-body padding-bottom-0">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label class="form-label" for="referidor_nombre">Nombre <span class="text-danger">*</span></label>
                                <span class="desc">Escriba el nombre del referidor</span>
                                <div class="controls">
                                    <input type="text" class="form-control" placeholder="Nombre del Referidor" id="referidor_nombre" name="referidor_nombre" ng-model="referidor.referidor_nombre" required>
                                </div>
                            </div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<label class="form-label" for="referidor_telefono">Tel&eacute;fono del referidor</label>
								<span class="desc">Ej. (999) 999-9999, etc.</span>
								<div class="controls">
									<input id="referidor_telefono" name="referidor_telefono" type="text" class="form-control" ui-mask="999-999-9999" placeholder="___-___-____" ng-model="referidor.referidor_telefono" model-view-value="true">                                            
								</div>
							</div> 							
                        </div>
                    </div>
                </div>
            </section>
            <div class="row text-center">
                <div class="form-group">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button type="submit" class="btn btn-lg btn-primary" ng-disabled='form.$invalid' ng-click="update()"> Guardar </button>
                        <button type="button" class="btn btn-lg btn-danger" ng-click="back()"> Cancelar </button>
                    </div>
                </div>
            </div>
        </form>            
    </div>
</div>