<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Agendar Cita';">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <ol class="breadcrumb well">
            <li>
                <a ui-sref="app.inicio"><i class="fa fa-home"></i>Inicio</a>
            </li>
            <li>
                <a ui-sref="app.citas">Citas</a>
            </li>
            <li class="active">
                <strong>Agendar cita</strong>
            </li>
        </ol>
        <form id="general_validate" action="javascript:;" name="form" class="form-validation ng-invalid ng-invalid-required ng-valid-email ng-valid-url ng-valid-pattern ng-valid-blacklist ng-valid-minlength ng-valid-maxlength ng-invalid-validator ng-invalid-b ng-invalid-a ng-dirty ng-valid-parse">
            <section class="box">
                <header class="panel_header">
                    <h2 class="title pull-left">Datos de la Cita</h2>
                    <div class="actions panel_actions pull-right">
                        <i class="box_toggle material-icons">expand_more</i>
                    </div>
                </header>
                <div class="content-body padding-bottom-0">
                    <div class="row well">
                        <div class="form-group" ng-if="cita.paciente_id">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <img src="{{paciente.persona.persona_imagen_perfil}}" width="150px">
                                    </div>                                    
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <h4>
                                            {{paciente.persona.persona_nombres}} {{paciente.persona.persona_apellidos}} <br><small>{{paciente.persona.pais.pais_nombre}}</small>
                                        </h4> 
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-4 text-left">
                                        <p><i class="fa fa-birthday-cake"></i> {{fecha_nacimiento}} ({{paciente.persona.persona_edad}} años)</p>
                                        <p><i class="fa fa-phone"></i> {{paciente.persona_celular}}</p>
                                        <p><i class="fa fa-envelope"></i> {{paciente.persona.persona_correo_electronico}}</p>
                                        <p><i class="fa fa-map-marker"></i> {{paciente.persona.persona_direccion}}</p>
                                    </div>
                                    <div class="col-lg-3 text-left">
                                        <p><i class="fa fa-tint"></i> {{paciente.persona.grupo_sanguineo.grupo_sanguineo_nombre}}</p>
                                        <p><i class="fa fa-building"></i> {{paciente.aseguradora.aseguradora_nombre}}</p>
                                        <p><i class="fa fa-sort-numeric-asc"></i> {{paciente.paciente_nss}}</p>
                                        <p><i class="fa fa-usd"></i> {{paciente.paciente_balance}}</p>
                                    </div>
                                    <div class="col-lg-3 text-left">
                                        <p ng-if="paciente.pacientes_enfermedades.length > 0">
                                            <i class="fa fa-stethoscope"></i> <b>Enfermedades:</b>
                                            <li ng-repeat="enfermedad in paciente.pacientes_enfermedades">
                                                {{enfermedad.enfermedad.enfermedad_nombre}}
                                            </li>
                                        </p>
                                        <p ng-if="paciente.pacientes_cirugias.length > 0">
                                            <i class="fa fa-user-md"></i> <b>Cirug&iacute;as:</b>
                                            <li ng-repeat="cirugia in paciente.pacientes_cirugias">
                                                {{cirugia.cirugia_descripcion}}
                                            </li>              
                                        </p>
                                    </div>
                                    <div class="col-lg-2 text-left">
                                        <p ng-if="paciente.pacientes_fracturas.length > 0">
                                            <i class="fa fa-wheelchair"></i> <b>Fracturas:</b>
                                            <li ng-repeat="fractura in paciente.pacientes_fracturas">
                                                {{fractura.cuerpo_parte.cuerpo_parte_nombre}}
                                            </li>                                            
                                        </p>
                                    </div>
                                </div>
                                <br>
                                <div class="row text-right" ng-if="!paciente.pacientes_notas_especiales.length > 0">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <h5><a href="#">Ver Notas Especiales</a></h5>
                                        <li ng-repeat="nota in paciente.pacientes_notas_especiales">
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label" for="field-1">Paciente <span class="text-danger">*</span></label>
                                <span class="desc">Seleccione el paciente que está agendando la cita</span>
                                <div class="controls">
                                    <select ui-jq="chosen" class="form-control" ng-model="cita.paciente_id" required ng-change="updatePaciente(cita.paciente_id)">
                                        <option value="">Seleccione el paciente</option>
                                        <option ng-repeat="paciente in pacientes" value="{{paciente.id}}">{{paciente.persona.persona_nombres}} {{paciente.persona.persona_apellidos}}</option>
                                    </select>
                                </div>
                            </div>                         
                        </div>
                    </div>
                    <br>
                    <div class="row">                        
                        <div class="form-group">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label" for="field-1">Doctor <span class="text-danger">*</span></label>
                                <span class="desc">Seleccione el doctor que realizar&aacute; la consulta</span>
                                <div class="controls">
                                    <select ui-jq="chosen" class="form-control" ng-model="cita.doctor_id" required>
                                        <option value="">Seleccione el doctor</option>
                                        <option ng-repeat="doctor in doctores" value="{{doctor.id}}">{{doctor.persona.persona_nombres}} {{doctor.persona.persona_apellidos}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">                        
                        <div class="form-group">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label" for="cita_descripcion">Motivo de Cita <span class="text-danger">*</span></label>
                                <span class="desc">Detalle el(los) motivo(s) de la cita</span>
                                <div class="controls">
                                    <input type="text" class="form-control" id="cita_descripcion" name="cita_descripcion" ng-model="cita.cita_descripcion" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">                        
                        <div class="form-group">                    
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-controller="DatepickerDemoCtrl">
                                <label class="form-label" for="cita_fecha">Fecha de la Cita <span class="text-danger">*</span></label>
                                <span class="desc">Seleccione la fecha de la cita</span>
                                <div style="display:inline-block;">
                                    <uib-datepicker ng-model="cita.cita_fecha" min-date="minDate" show-weeks="true" class="well well-sm" date-disabled="disabled(date, mode)" custom-class="getDayClass(date, mode)"></uib-datepicker>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-top-15">
                                <label class="form-label" for="cita_hora">Hora de la Cita <span class="text-danger">*</span></label>
                                <div class="controls">
                                    <uib-timepicker id="cita_hora" name="cita_hora" ng-model="cita.cita_hora" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" ng-required="true"></uib-timepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button class="btn btn-primary btn-sm" ng-click="toggleHora()">12H / 24H</button>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>                    
            </section>
            <br>
            <div class="row text-center">
                <div class="form-group">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button type="submit" class="btn btn-lg btn-primary" ng-disabled='form.$invalid' ng-click="save()"> Guardar </button>
                        <button type="button" class="btn btn-lg btn-danger" ng-click="back()"> Cancelar </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>