<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Facturaci&oacute;n';">
    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Datos de la Factura</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row text-right">
                    <h4><b>Factura No. :</b> {{ factura.factura_numero | minLength:8 }}</h4>
                </div>
                <div class="row text-right">
                    <h4><b>NCF No. :</b> {{prefijoNCF}}{{ factura.factura_ncf | minLength:8 }}</h4>
                </div>                
                <div class="row well">
                    <div class="form-group" ng-if="factura.paciente_id">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <img src="{{paciente.persona.persona_imagen_perfil}}" width="150px">
                                </div>                                    
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <h4>
                                        {{paciente.persona.persona_nombres}} {{paciente.persona.persona_apellidos}} <br><small>{{paciente.persona.pais.pais_nombre}}</small>
                                    </h4> 
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-lg-4 text-left">
                                    <p><i class="fa fa-birthday-cake"></i> {{fecha_nacimiento}} ({{paciente.persona.persona_edad}} años)</p>
                                    <p><i class="fa fa-phone"></i> {{paciente.persona_celular}}</p>
                                    <p><i class="fa fa-envelope"></i> {{paciente.persona.persona_correo_electronico}}</p>
                                    <p><i class="fa fa-map-marker"></i> {{paciente.persona.persona_direccion}}</p>
                                </div>
                                <div class="col-lg-5 text-left">
                                    <p><i class="fa fa-tint"></i> {{paciente.persona.grupo_sanguineo.grupo_sanguineo_nombre}}</p>
                                    <p><i class="fa fa-building"></i> {{paciente.aseguradora.aseguradora_nombre}}</p>
                                    <p><i class="fa fa-sort-numeric-asc"></i> {{paciente.paciente_nss}}</p>
                                    <p><i class="fa fa-usd"></i> {{paciente.paciente_balance}}</p>
                                </div>
                            </div>
                        </div>
                    </div>                    
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label class="form-label" for="field-1">Paciente <span class="text-danger">*</span></label>
                            <span class="desc">Seleccione el paciente que está realizando la factura</span>
                            <div class="controls">
                                <select ui-jq="chosen" class="form-control" ng-model="factura.paciente_id" required ng-change="updatePaciente(factura.paciente_id)">
                                    <option value="">Seleccione el paciente</option>
                                    <option ng-repeat="paciente in pacientes" value="{{paciente.id}}">{{paciente.persona.persona_nombres}} {{paciente.persona.persona_apellidos}}</option>
                                </select>
                            </div>
                        </div>                         
                    </div>                        
                </div>
                <br>                
                <div class="row">
                    <div class="form-group">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <label class="form-label" for="field-1">NCF <span class="text-danger">*</span></label>
                            <span class="desc">Elija el tipo de NCF</span>
                            <div class="controls">
                                <select ui-jq="chosen" class="form-control" ng-model="factura.factura_comprobante_tipo" ng-change="cambiarNCF(factura.factura_comprobante_tipo)"  ng-options="o.id as o.nombre for o in comprobantes" required>
                                    <option value="">Seleccione el tipo de comprobante</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <label class="form-label" for="field-5">Tipo de Factura <span class="text-danger">*</span></label>
                            <span class="desc">Elija el tipo de factura</span>
                            <div class="radio">
                                <label class="icheck icheck-primary">
                                    <input type="radio" name="factura_tipo" value="Contado" ng-model="factura.factura_tipo" required ng-change="cambiarFactura(factura.factura_tipo)">
                                    <i></i> Contado
                                </label>
                                &nbsp;
                                <label class="icheck icheck-danger">
                                    <input type="radio" name="factura_tipo" value="Credito" ng-model="factura.factura_tipo" ng-change="cambiarFactura(factura.factura_tipo)">
                                    <i></i> Cr&eacute;dito
                                </label>                            
                            </div>                             
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-if="factura.factura_tipo == 'Contado'">
                            <label class="form-label" for="field-1">M&eacute;todo de pago <span class="text-danger">*</span></label>
                            <span class="desc">Elija la forma de pago</span>
                            <div class="input-group" inputgroup>
                                <select ui-jq="chosen" class="form-control" ng-model="factura.factura_metodo_pago" required>
                                    <option value="">Seleccione el m&eacute;todo de pago</option>
                                    <option value="1">Efectivo</option>
                                    <option value="2">Cheque</option>
                                    <option value="3">Tarjeta de Credito</option>
                                </select>
                            </div>
                        </div>                        
                    </div>                        
                </div>
                <div class="row" ng-show="factura.factura_comprobante_tipo == 3">
                    <div class="form-group">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <label class="form-label" for="factura_rnc">RNC/C&eacute;dula</label>
                            <span class="desc">Escriba el RNC/C&eacute;dula</span>
                            <div class="controls">
                                <input type="text" class="form-control" placeholder="RNC/Cédula" id="factura_rnc" name="factura_rnc " ng-model="factura.factura_rnc" ng-change="buscarRNC(factura.factura_rnc)">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label class="form-label" for="factura_razon_social">Raz&oacute;n Social</label>
                            <span class="desc">Escriba el nombre o Raz&oacute;n Social</span>
                            <div class="controls">
                                <input type="text" class="form-control" placeholder="RNC/Cédula" id="factura_razon_social" name="factura_razon_social " ng-model="factura.factura_razon_social" readonly="readonly">
                            </div>
                        </div>                        
                    </div>
                </div>
                <hr>
                <h3>Detalles</h3>
                <div class="row">
                    <div class="form-group">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <label class="form-label" for="field-1">Producto a Facturar</label>
                            <span class="desc"></span>
                            <div class="controls">
                                <select ui-jq="chosen" class="form-control" ng-model="servicio_id" ng-change="updatePrecio(servicio_id)">
                                    <option value="">Seleccione el producto</option>
                                    <option ng-repeat="servicio in servicios" value="{{servicio.id}}">{{servicio.servicio_nombre}}</option>                                    
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <label class="form-label" for="servicio_cantidad">Cantidad</label>
                            <span class="desc">Escriba la cantidad</span>
                            <div class="controls">
                                <input type="text" class="form-control" placeholder="Cantidad" id="servicio_cantidad" name="servicio_cantidad " ng-model="servicio.servicio_cantidad">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <label class="form-label" for="persona_nombres">Precio</label>
                            <span class="desc">Escriba el precio</span>
                            <div class="controls">
                                <input type="text" class="form-control" placeholder="Precio" id="servicio_precio" name="servicio_precio" ng-model="servicio.servicio_precio" readonly="readonly">
                            </div>
                        </div>                         
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <button class="btn btn-primary btn-xs" ng-click="addDetalle()">Agregar</button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive padding-top-25 padding-bottom-25">
                        <table class="table table-bordered table-hover bg-white-only">
                            <tr style="font-weight: bold">
                                <td style="width:10%">Id</td>
                                <td style="width:40%">Servicio</td>
                                <td style="width:20%">Cantidad</td>
                                <td style="width:10%">Precio</td>
                                <td style="width:10%">Monto</td>
                                <td style="width:10%">Opciones</td>
                            </tr>
                            <tr ng-repeat="detalle in factura.detalles">
                                <td class="v-middle">
                                    <span e-name="id" e-form="rowform" e-required>
                                    {{ detalle.servicio_id}}
                                    </span>
                                </td>                                
                                <td class="v-middle">
                                    <span e-name="servicio_nombre" e-form="rowform" e-required>
                                    {{ detalle.servicio_nombre}}
                                    </span>
                                </td>
                                <td class="v-middle">
                                    <span e-name="servicio_cantidad" e-form="rowform">
                                    {{ detalle.servicio_cantidad}}
                                    </span>
                                </td>
                                <td class="v-middle">
                                    <span e-name="servicio_precio" e-form="rowform">
                                    {{ detalle.servicio_precio | currency}}
                                    </span>
                                </td>
                                <td class="v-middle">
                                    <span e-name="servicio_monto" e-form="rowform">
                                    {{ detalle.servicio_monto | currency}}
                                    </span>
                                </td>
                                <td style="white-space: nowrap">
                                    <div class="buttons" ng-show="!rowform.$visible">
                                        <button class="btn btn-xs btn-danger ng-click-active" ng-click="removeDetalle($index)"><i class="fa fa-trash"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <label class="form-label" for="factura_aplicardescuento">Descuento</label>
                            <span class="desc">Elija si desea aplicar descuento</span>
                            <div class="checkbox">
                                <label class="icheck icheck-primary">
                                    <input type="checkbox" name="factura_aplicardescuento" value="1" ng-model="factura.factura_aplicardescuento" ng-change="elegirdescuento(factura.factura_aplicardescuento)">
                                    <i></i> Aplicar descuento
                                </label>
                            </div>                            
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" ng-if="factura.factura_aplicardescuento" ng-hide="bloqueado">
                            <label class="form-label" for="servicio_descuento_monto">Monto</label>
                            <span class="desc">Escriba el monto de descuento a aplicar</span>
                            <div class="controls">
                                <input type="text" class="form-control" placeholder="Monto de descuento" id="factura_descuento_monto" name="factura_descuento_monto " ng-model="factura.factura_descuento_monto">
                            </div>                            
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" ng-if="factura.factura_aplicardescuento" ng-hide="bloqueado">
                            <button class="btn btn-primary btn-xs" ng-click="aplicardescuento()" ng-readonly="bloqueado">Aplicar</button>
                        </div>                        
                    </div>
                </div>                
                <div class="row text-right">
                    <div class="form-group">
                        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 text-right">
                            <label class="form-label">Sub-Total</label>
                            <div class="controls">
                                <p class="form-control-static"><strong>{{factura.factura_subtotal | currency}}</strong></p>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">&nbsp;</div>
                    </div>
                </div>
                <!--<div class="row text-right">
                    <div class="form-group">
                        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                            <label class="form-label">ITBIS</label>
                            <div class="controls">
                                <p class="form-control-static"><strong>${{factura.factura_itbis}}</strong></p>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">&nbsp;</div>
                    </div>
                </div>-->
                <div class="row text-right">
                    <div class="form-group">
                        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                            <label class="form-label">Descuento</label>
                            <div class="controls">
                                <p class="form-control-static"><strong>{{factura.factura_descuento | currency}}</strong></p>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">&nbsp;</div>
                    </div>
                </div>
                <div class="row text-right">
                    <div class="form-group">
                        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                            <label class="form-label">Total</label>
                            <div class="controls">
                                <p class="form-control-static"><strong>{{factura.factura_total | currency}}</strong></p>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">&nbsp;</div>
                    </div>                  
                </div>
                <br>
                <div class="row text-center">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button type="button" class="btn btn-lg btn-primary" ng-click="save()"> Guardar </button>
                            <button type="button" class="btn btn-lg btn-danger" ng-click="back()"> Cancelar </button>
                        </div>
                    </div>
                </div>                 
            </div>
        </section>
    </div>
</div>
<div class="text-right" ng-hide="1==1">      
    <a id="printElement" data-ng-click="printDiv('printThisElement')" class="btn btn-info">
        <i class="material-icons icon-md">print</i>
    </a>
</div>
<div style="width: 7.2 cm; height: 29.7 cm; text-align: center; font-family:Consolas; line-height: 75%;" id="printThisElement" ng-hide="1==1">
  <div style="text-align: center;">
      <br>
      <img src="img/pipiota.png" width="120"/>
      <p style="font-size: 11px;">
        CENTRO DE MEDICINA F&Iacute;SICA Y REHABILITACI&Oacute;N <br>
        AVE. JUAN P. DUARTE, PLAZA PALERMO <br>
        M&Oacute;DULO 110, STGO. R.D. <br>
        809-825-8595 <br>
        RNC-131341421 <br>
      </p>
      <p ng-hide="factura.factura_comprobante_tipo==3" style="font-size: 11px;">
          FACTURA PARA CONSUMIDOR FINAL
      </p>
      <p ng-hide="factura.factura_comprobante_tipo==4" style="font-size: 11px;">
          FACTURA VALIDA PARA CREDITO FISCAL
      </p>
  </div>    
    <div class="text-right" ng-hide="factura.factura_tipo=='Credito'">
        <p style="font-size: 11px;"> FACTURA AL CONTADO : {{factura.factura_numero}} </p>
    </div>
    <div class="text-right" ng-hide="factura.factura_tipo=='Contado'">
        <p style="font-size: 11px;"> FACTURA A CREDITO : {{factura.factura_numero}} </p>
    </div>
  <div class="text-left">
    <p style="font-size: 11px;">
        ----------------------------------------------------------------- <br>
        FECHA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;{{factura.factura_fecha | date:'dd-MM-yyyy HH:mm:ss a'}} <br>
        CAJERO&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;{{factura.usuario.persona.persona_nombres + ' ' + factura.usuario.persona.persona_apellidos | uppercase | limitTo: 25}} <br>
        PACIENTE&nbsp;&nbsp; : &nbsp;{{factura.paciente.persona.persona_nombres + ' ' + factura.paciente.persona.persona_apellidos | uppercase | limitTo: 25}} <br>
        <p ng-show="factura.factura_comprobante_tipo == 3" style="font-size: 11px;">RNC/C&Eacute;DULA : {{factura.factura_rnc}} <br> RAZ&Oacute;N SOCIAL : {{factura.factura_razon_social | uppercase | limitTo:25}}</p>
    <table class="table" style="font-size: 11px;">
        <thead>
            <tr>
                <th style="width: 10%;">
                    CANT.
                </th>
                <th style="width: 60%;">
                    DESCRIPCI&Oacute;N                       
                </th>
                <th style="width: 15%;">
                    PRECIO                        
                </th>
                <th style="width: 15%;">
                    MONTO                        
                </th>
            </tr>
        </thead>            
        <tbody>
            <tr ng-repeat="detalle in factura.detalle_facturas">
                <td>
                    {{detalle.servicio_cantidad}}
                </td>
                <td>
                    {{detalle.servicio.servicio_nombre | uppercase}}
                </td>
                <td>
                    {{detalle.servicio_precio | currency }}
                </td>
                <td>
                    {{detalle.servicio_monto | currency }}
                </td>
            </tr>
        </tbody>
    </table>
  </div>
  <div class="text-right">
      <p style="font-size: 11px;">
        MONTO : {{factura.factura_subtotal | currency }}&nbsp; <br>
        DESCUENTO : &nbsp;&nbsp;{{factura.factura_descuento | currency}}&nbsp; <br>
        TOTAL : {{factura.factura_total | currency }}&nbsp; <br>
      </p>
    <p ng-show="factura.factura_metodo_pago == 1" style="font-size: 11px;"><b>FORMA DE PAGO:</b> EFECTIVO </p>
    <p ng-show="factura.factura_metodo_pago == 2" style="font-size: 11px;"><b>FORMA DE PAGO:</b> CHEQUE </p>
    <p ng-show="factura.factura_metodo_pago == 3" style="font-size: 11px;"><b>FORMA DE PAGO:</b> TARJETA DE CR&Eacute;DITO </p>    
    <p>&nbsp;</p>
  </div>
  <div class="text-center">
      <p>
        ___________________________________ <br>
        RECIBIDO CONFORME <br>
        {{factura.factura_fecha | date:'dd-MM-yyyy HH:mm:ss a'}}
      </p>
  </div>    
</div>