<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Facturas';">
    <div class="col-lg-12">
        <ol class="breadcrumb well">
            <li>
                <a ui-sref="app.inicio"><i class="fa fa-home"></i>Inicio</a>
            </li>
            <li class="active">
                <strong>Facturas</strong>
            </li>
        </ol>          
        <a class="btn btn-lg btn-success" href="#/app/facturas/nuevo"><i class="fa fa-plus"></i>&nbsp;Nueva Factura</a>        
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Listado de Facturas</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                </div>
            </header>
            <div class="content-body padding-bottom-15">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="FacturasTable">
                        <table class="table table-striped" ui-jq="dataTable" ui-options="tbOptions" class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width:5%">#</th>
                                    <th style="width:15%">No. Factura</th>
                                    <th style="width:25%">Paciente</th>                                    
                                    <th style="width:15%">Fecha</th>
                                    <th style="width:10%">Tipo</th>
                                    <th style="width:10%">Monto</th>
                                    <th style="width:10%">Estado</th>
                                    <th style="width:10%">Opciones</th>
                                </tr>   
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
