<div class="modal-header">
    <h3 class="modal-title">Detalle de la Factura No. {{factura.factura_numero}}</h3>
</div>
<div class="text-right">      
    <a ng-click="printDiv('printThisElement');" class="btn btn-info">
        <i class="material-icons icon-md">print</i>
    </a>
</div>
<div class="modal-body">  
    <table class="table">
        <thead>
        </thead>            
        <tbody>
            <tr>
                <td style="width: 55%; border: none;" class="text-left">
                    <b>Paciente:</b> {{factura.paciente.persona.persona_nombres}} {{factura.paciente.persona.persona_apellidos}}
                </td>
                <td style="width: 45%; border: none;" class="text-right">
                    <b>Fecha:</b> {{factura.factura_fecha | date:'dd-MM-yyyy HH:mm:ss a'}}
                </td>
            </tr>
            <tr>
                <td style="width: 20%; border: none;" class="text-left">
                    <b>NCF:</b> {{factura.factura_ncf}}
                </td>
                <td style="width: 80%; border: none;" ng-hide="factura.factura_tipo=='Credito'" class="text-right">
                    <b>Factura al Contado:</b> {{factura.factura_numero}}
                </td>
                <td style="width: 80%; border: none;" ng-hide="factura.factura_tipo=='Contado'" class="text-right">
                    <b>Factura a Credito:</b> {{factura.factura_numero}}
                </td>
            </tr>
            <tr>
                <td style="border: none;" class="text-left">
                    <b>Cajero:</b> {{factura.usuario.persona.persona_nombres}} {{factura.usuario.persona.persona_apellidos}}                 
                </td>
                <td style="border: none;" class="text-right" ng-show="factura.paciente.paciente_referencia">
                    <b>Referidor:</b> {{factura.paciente.paciente_referencia.persona_referencia}}
                </td>
            </tr>
            <tr ng-show="factura.factura_comprobante_tipo == 3">
                <td style="border: none;" class="text-left"><b>RNC/C&eacute;dula :</b> {{factura.factura_rnc}}</td>
                <td style="border: none;" class="text-right"><b>Raz&oacute;n Social: </b> {{factura.factura_razon_social | limitTo:20}}</td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
        <p class="text-center" style="border: none;" ng-hide="factura.factura_comprobante_tipo==3">
            <b>FACTURA PARA CONSUMIDOR FINAL</b>
        </p>
        <p class="text-center" style="border: none;" ng-hide="factura.factura_comprobante_tipo==4">
            <b>FACTURA VALIDA PARA CREDITO FISCAL</b>
        </p>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th style="width: 10%;">
                    Cantidad
                </th>
                <th style="width: 40%;">
                    Descripci&oacute;n                        
                </th>
                <th style="width: 25%;">
                    Precio                        
                </th>
                <th style="width: 25%;">
                    Monto                        
                </th>
            </tr>
        </thead>            
        <tbody>
            <tr ng-repeat="detalle in factura.detalle_facturas">
                <td class="text-center">
                    {{detalle.servicio_cantidad}}
                </td>
                <td>
                    {{detalle.servicio.servicio_nombre | uppercase}}
                </td>
                <td>
                    {{detalle.servicio_precio | currency }}
                </td>
                <td>
                    {{detalle.servicio_monto | currency }}
                </td>                    
            </tr>
        </tbody>
    </table>
    <b><hr></b>
    <div class="text-right">
        <p><b>IMPORTE:</b> {{factura.factura_subtotal | currency }}</p>
        <p><b>DESCUENTO:</b> {{factura.factura_descuento | currency}}</p>
        <p><b>TOTAL:</b> {{factura.factura_total | currency }}</p>
        <p ng-show="factura.factura_metodo_pago == 1"><b>FORMA DE PAGO:</b> Efectivo </p>
        <p ng-show="factura.factura_metodo_pago == 2"><b>FORMA DE PAGO:</b> Cheque </p>
        <p ng-show="factura.factura_metodo_pago == 3"><b>FORMA DE PAGO:</b> Tarjeta de Cr&eacute;dito </p>
  </div>    
</div>
<div class="modal-footer text-center">                  
    <button class="btn btn-success" ng-click="cancel()">OK</button>
</div>
<div style="width: 7.2 cm; height: 29.7 cm; text-align: center; font-family:Consolas; line-height: 75%;" id="printThisElement" ng-hide="1==1">
  <div style="text-align: center;">
      <br>
      <img src="img/pipiota.png" width="120"/>
      <p style="font-size: 11px;">
        CENTRO DE MEDICINA F&Iacute;SICA Y REHABILITACI&Oacute;N <br>
        AVE. JUAN P. DUARTE, PLAZA PALERMO <br>
        M&Oacute;DULO 110, STGO. R.D. <br>
        809-825-8595 <br>
        RNC-131341421 <br>
      </p>
      <p ng-hide="factura.factura_comprobante_tipo==3" style="font-size: 11px;">
          FACTURA PARA CONSUMIDOR FINAL
      </p>
      <p ng-hide="factura.factura_comprobante_tipo==4" style="font-size: 11px;">
          FACTURA VALIDA PARA CREDITO FISCAL
      </p>
  </div>    
    <div class="text-right" ng-hide="factura.factura_tipo=='Credito'">
        <p style="font-size: 11px;"> FACTURA AL CONTADO : {{factura.factura_numero}} </p>
    </div>
    <div class="text-right" ng-hide="factura.factura_tipo=='Contado'">
        <p style="font-size: 11px;"> FACTURA A CREDITO : {{factura.factura_numero}} </p>
    </div>
  <div class="text-left">
    <p style="font-size: 11px;">
        ----------------------------------------------------------------- <br>
        FECHA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;{{factura.factura_fecha | date:'dd-MM-yyyy HH:mm:ss a'}} <br>
        CAJERO&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;{{factura.usuario.persona.persona_nombres + ' ' + factura.usuario.persona.persona_apellidos | uppercase | limitTo: 25}} <br>
        PACIENTE&nbsp;&nbsp; : &nbsp;{{factura.paciente.persona.persona_nombres + ' ' + factura.paciente.persona.persona_apellidos | uppercase | limitTo: 25}} <br>
        <p ng-show="factura.factura_comprobante_tipo == 3" style="font-size: 11px;">RNC/C&Eacute;DULA : {{factura.factura_rnc}} <br> RAZ&Oacute;N SOCIAL : {{factura.factura_razon_social | uppercase | limitTo:25}}</p>
    <table class="table" style="font-size: 11px;">
        <thead>
            <tr>
                <th style="width: 10%;">
                    CANT.
                </th>
                <th style="width: 60%;">
                    DESCRIPCI&Oacute;N                       
                </th>
                <th style="width: 15%;">
                    PRECIO                        
                </th>
                <th style="width: 15%;">
                    MONTO                        
                </th>
            </tr>
        </thead>            
        <tbody>
            <tr ng-repeat="detalle in factura.detalle_facturas">
                <td>
                    {{detalle.servicio_cantidad}}
                </td>
                <td>
                    {{detalle.servicio.servicio_nombre | uppercase}}
                </td>
                <td>
                    {{detalle.servicio_precio | currency }}
                </td>
                <td>
                    {{detalle.servicio_monto | currency }}
                </td>
            </tr>
        </tbody>
    </table>
  </div>
  <div class="text-right">
      <p style="font-size: 11px;">
        MONTO : {{factura.factura_subtotal | currency }}&nbsp; <br>
        DESCUENTO : &nbsp;&nbsp;{{factura.factura_descuento | currency}}&nbsp; <br>
        TOTAL : {{factura.factura_total | currency }}&nbsp; <br>
      </p>
    <p ng-show="factura.factura_metodo_pago == 1" style="font-size: 11px;"><b>FORMA DE PAGO:</b> EFECTIVO </p>
    <p ng-show="factura.factura_metodo_pago == 2" style="font-size: 11px;"><b>FORMA DE PAGO:</b> CHEQUE </p>
    <p ng-show="factura.factura_metodo_pago == 3" style="font-size: 11px;"><b>FORMA DE PAGO:</b> TARJETA DE CR&Eacute;DITO </p>    
    <p>&nbsp;</p>
  </div>
  <div class="text-center">
      <p>
        ___________________________________ <br>
        RECIBIDO CONFORME <br>
        {{factura.factura_fecha | date:'dd-MM-yyyy HH:mm:ss a'}}
      </p>
  </div>    
</div>